<footer class="footer-distributed">

  <div class="footer-left">

    <h3>RentYour<span>Home</span></h3>

    <p class="footer-links">
      <a href="#">{{ 'PAGE.HOME' | translate}}</a>
      ·
      <a href="#">{{ 'PAGE.BLOG' | translate}}</a>
      ·
      <a href="#">{{ 'PAGE.PRICING' | translate}}</a>
      ·
      <a href="#">{{ 'PAGE.ABOUT' | translate}}</a>
      ·
      <a href="#">{{ 'PAGE.CONTACT' | translate}}</a>
    </p>

    <p class="footer-company-name">UTE&copy; 2018</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>
        01 {{ 'PAGE.VVN' | translate}}</span>{{ 'PAGE.LC' | translate}}, {{ 'PAGE.DThuDuc' | translate}}, {{ 'PAGE.HCM' | translate}}</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+84 962 123 874</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">14110162@student.hcmute.edu.vn</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>{{ 'PAGE.ABOUT_TEAM' | translate}}</span>
      {{ 'PAGE.ABOUT_TEAM_DES' | translate}}
    </p>


  </div>

</footer>
