.container-fluid {
    background-color: #C5CAE9;
    height: 100%;
}
.example-h2 {
    margin: 10px;
    background-color: #3F51B5;
    color: white;
    font-weight: bolder;
    text-align: center;
   
  }
  
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}
  
.example-margin {
    margin: 0 10px;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-gap: 5px;
    text-align: center;
}   
.mat-card {
    margin: 10px;
}
.wrapper p{
    padding: 10px;
}

.btn-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

.mat-card-image {
    vertical-align: middle;
    border-radius: 50%;
    margin: auto;
    width: 250px;
    height: 250px;
    padding-top: 20px; 
}
.mat-card-password {
    width: calc(100%-100px);
    margin: 0 auto;
}
.spinner-percent {
    position: relative;

}
.percent{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0!important;
    padding: 0!important;
    font-size: 20px;
}
.footer-distributed{
	background: url(/assets/pc_skinfooter.jpg) 50% 100% no-repeat;	
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    min-height: 200px;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	background-size: cover;
	padding: 55px 50px;

}