agm-map {
    height: 300px;
    width: 100%;
  }
input{
  width: 100%;
}
mat-form-field {
  width: 100%;
}
#map_container{
    position: relative;
}
#map{
    height: 0;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}