*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color: #ffffff;
    /*font-family: 'roboto', sans-serif;*/
}
.text {
    color: #333333;
}
.colorstext {
    color: #f56363;
}
.coloricon i {
    color: #f56363;
}
.colorsbg {
    background: #f56363;
    color: #ffffff;
}

.lightbg {
    background-color: #f9f9f9;
}
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.outofsectiontext{
    margin-top: 40px;
}

/*
Section
*/
.sections {
    margin-top:50px;
}
.sections.footer {
    padding-bottom: 80px;
}
section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
    font-family: 'roboto', sans-serif;
}
.parallax-section {
    max-width: 100%;
    color: #ffffff;
}
section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
    font-weight: 100;
    font-size: 17px;
}


.heading {
    margin-bottom: 4rem;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 750px;
}
.overlay-fluid-block {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}
.home-overlay-fluid {
    background-color: rgba(41, 41, 41, 0.68);
    width: 80%;
    margin: auto;
}
.home_overlay{
    background:rgba(176, 186, 186, 0.44);
}
.main_slider_area{
    padding: 100px 0px;
    text-align: center;
    position: relative;
}


.main_slider_area .owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    margin-top: 160px;
}
.main_slider_area .owl-theme .owl-nav [class*='owl-'] {
    color: black;
    background: transparent;
}
.main_slider_area .owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: white;
    text-decoration: none;
}
.main_slider_area .owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: white;
    text-decoration: none;
}
.slider .single_slider h3{
    color:#fff;
    font-size:3rem;
    font-family: 'sanchezregular';
    
}
.slider .single_slider p{
    font-size:1.875rem;
    color:#fff;
    font-family: 'roboto';
    margin-bottom:100px;
}
.slider .single_slider .home-title{
    margin-top: 60px;
    font-size:3.5em;
    color:#fff;
    font-family: sans-serif;
    margin-bottom:0px;
}
.slider .single_slider_img_icon{
    margin-bottom:55px;
}
.main_home_searce_domain_content{
    background: #dddddd;
    padding: 15px 15px;
    width: 100%;

}.main_home_searce_domain_content input[type="text"]{
    min-width: 17.1875rem;
    height: 55px;
    background: #fff;
    color: #202242;
    padding: 10px;
    border: 0px;
    font-size: 0.875rem;
    font-family: 'ralewaylight';
}
.main_home_searce_domain_content input[type="submit"]{
    max-width: 9.6875rem;
    height: 56px;
    background: #ffe13e;
    color: #202242;
    padding: 0px 15px;
    border: 0px;
    margin-left: -4px;
    border-left: 1px solid #fff;
    font-size: 0.875rem;
    font-family: 'ralewaybold';
    color: #fff;
    outline: none;
}
.form-control {
    display: inline-block;
    width: 6.25rem;
    height: 56px;
    padding: 10px;
    font-size: 0.875rem;
    color: #555;
    background-color: #ffe13e;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-left: -3px;
    outline: none;
}
/* Home Section */
.home{
    background: url(/assets/background.jpg) no-repeat center left;
    background-size:cover;
    position: relative;
}
.home::before{
    content: '';
    background-color: rgba(0, 0 , 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.home_overlay{
    background:rgba(176, 186, 186, 0.44);
}

.main_home_searce_domain_content{
    background: #dddddd;
    padding: 15px 15px;
    width: 100%;

}
.input-search{
    display: inline;
    color: 
}
.input-search input{
    width: 100%;
    min-width: 500px;
}
.home_searce_domain_area {
    background-color: #f5f5f5;
    padding: 10px;
    
}
.mat-form-field {
    width: 100%;
    min-width: 300px;
}
.mat-input-inflix.mat-form-field-inflix{
    border: 1px solid black;
 }
 .slider-bottom {
     position: absolute;
     padding-top: 10px;
     bottom: 0;
     display: grid;
     grid-template-columns: 2fr 6fr 2fr;
 }