<section id="home" class="home">
  <div class="home_overlay">
      <div class="container">
          <div class="row">
              <div class="main_slider_area">
                  <div class="slider">
                      <div class="single_slider">
                          <p class="home-title">{{ 'HOME.TITLE' | translate}}</p>
                          <p>{{ 'HOME.MODERN' | translate}}  -  {{ 'HOME.FAST' | translate}}  -  {{ 'HOME.RELIABLE' | translate}}</p>
                          
                          <div class="col-sm-8 col-sm-offset-2">
                              <div class="home_searce_domain_area">
                                  <div class="input-search">
                                      <mat-form-field>
                                        <input type="text" matInput [placeholder]="'HOME.TYPE_TEXT' | translate" [(ngModel)] = "query">
                                      </mat-form-field>
                                          
                                            
                                     
                                      <button mat-raised-button (click)="onSearchClick()" color="primary"><mat-icon>search</mat-icon> {{ 'HOME.SEARCH' | translate}}</button>
                                      <button mat-raised-button color="warn" [routerLink]="['/advance']"><mat-icon>assignment</mat-icon> {{ 'HOME.ADVANCE' | translate}}</button>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section><!-- End of Banner Section -->
<app-recent-post [motels] = "motels" [title]="title" *ngIf="hasRs"></app-recent-post>