<app-nav></app-nav>
<div class="container">
    <div class="row">
            <mat-tab-group>
                <mat-tab label="Tìm kiếm địa chỉ"> <h4 class="text-center">Dữ liệu địa chỉ có thể không chính xác. Để tùy chỉnh, nhập vào khung "Địa chỉ"</h4>
                    <mat-form-field class="col-sm-3">
                        <mat-select placeholder="Tỉnh/ Thành phố"  (change)="onCityChange();" [(ngModel)]="city.id" #id="ngModel" [ngModelOptions]="{standalone: true}">
                          <mat-option *ngFor="let item of resultArray; let i = index" [value]="i">
                            {{ item.name }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                
                    <mat-form-field class="col-sm-3">
                        <mat-select placeholder="Quận/ Huyện" [(ngModel)]="query.district" #district="ngModel" [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let item of districtArray; let i = index" [value]="item"  >
                            {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                
                    <mat-form-field class="col-sm-3">
                        <input matInput placeholder="Xã/ Phường"[(ngModel)]="query.ward" #ward="ngModel" [ngModelOptions]="{standalone: true}">
                        <mat-hint>"Chỉ nhập tên xã/ phường"</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="col-sm-3">
                        <input matInput placeholder="Đường " [(ngModel)]="query.street" #street="ngModel" [ngModelOptions]="{standalone: true}">
                        <mat-hint>"Chỉ nhập tên đường"</mat-hint>
                    </mat-form-field>
               
                    <div class="col-sm-12" style="display: inline;">
                        Giá tiền: 
                        <mat-form-field>
                            <input matInput placeholder="Từ" [(ngModel)]="query.bottom_price" #bottomPrice="ngModel" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                        -
                        <mat-form-field>
                            <input matInput placeholder="Đến" [(ngModel)]="query.top_price" #topPrice="ngModel" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                        <mat-hint>Triệu đồng/ tháng</mat-hint>
                    </div>
                    <div class="col-sm-6">
                        <button mat-raised-button color="primary" (click)="onAdvanceSearch()"><mat-icon>search</mat-icon>Search</button>
                    </div></mat-tab>
                <mat-tab label="Tìm trên bản đồ" #mapTab>
                        <div *ngIf="mapTab.isActive">
                            <app-map-marker-move (locationChild)="onMapSearchClick($event)"></app-map-marker-move>
                        </div>
                </mat-tab>
            </mat-tab-group>
           
    </div>
   <app-recent-post *ngIf="hasRs" [motels]="motels" [title]="title"></app-recent-post>

</div>

<app-footer></app-footer>