<app-nav ></app-nav>

<div class="temp" style="height: 150px; background-color: #F5F5F5;">
</div>

<div class="container-fluid distance">
  <div class="col-sm-8">
      <mat-form-field class="example-form-field">
          <input matInput type="text" placeholder="Choose distance(km) to show (default: 10)" [(ngModel)]="value"/>
          <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="searchWithDistance()">Search</button>
  </div>
 
</div>
<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" >
    <agm-marker  [latitude]="latitude" [longitude]="longitude">
        <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
            <ng-template>
             Your position
            </ng-template>
          </agm-snazzy-info-window>
    </agm-marker>  
    <div *ngFor="let item of listLocation">
      <agm-marker  [latitude]="item.lat" [longitude]="item.lng">
        <agm-snazzy-info-window [maxWidth]="1000" [closeWhenOthersOpen]="true" style="min-width: 400px;">
            <ng-template >
             <p>{{item.category}}</p>
             <p><small>{{item.add}}, {{item.street}}, {{item.ward}}, {{item.district}}</small></p>
             <a [routerLink]="['/item', item._id]" target="_blank">Show Details</a>
            </ng-template>
          </agm-snazzy-info-window>
     </agm-marker> 
    </div> 
     
  </agm-map>


<app-footer></app-footer>