<div class="row recent" style="margin-left: 0; margin-right: 0;"> 
    <div class="recent-title">
      <div class="hr-title"></div>
      <div class="rencent-title-h4">
          <h2>{{title}}</h2>
      </div>
      <div class="hr-title"></div>
        
    </div>
  <div class="wrapper">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 card"   *ngFor="let motel of motels | async | paginate: { itemsPerPage: 3, currentPage: p }" style="margin-bottom:20px;margin-top:20px;">
          <mat-card class="example-card"  >
              <div class="imageHolder">
                <a [routerLink]="['/item', motel._id]">
                <img mat-card-image src="/assets/{{motel.img[0]}}"  alt="Photo of a Motel" style="width: 400px; height: 251px;">
                </a>
                
              </div> 
             
              <mat-card-content>
                
                <div class="infor">
                    
                    <div class="address">
                        <div class="timeAgo">
                            <b>{{ 'HOME.POST_AT' | translate}}:</b> {{motel.created_at | date}} <small>{{ 'HOME.ABOUT_TIME' | translate}} {{motel.created_at | amTimeAgo}}</small>
                        </div>
                        <div class="category">
                            <p>{{motel.category}}</p>
                        </div>
                        {{motel.add}} , {{motel.street}}, {{motel.ward}}, {{motel.district}} <br>
                        {{motel.city}}
                        <p>Cách thức liên hệ: {{motel.contact}}</p>
                        <div class="price">
                            <b>{{ 'HOME.PRICE' | translate}}:</b> <p>{{motel.price}} {{ 'HOME.PER_MONTH' | translate}}</p>
                        </div>
                    </div>
                </div>
                
               
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-raised-button color="warn" *ngIf="moderator" (click)="_delete(motel._id)">DELETE</button>
                <button mat-button><a [routerLink]="['/item', motel._id]">Show Details</a></button>
              </mat-card-actions>
            </mat-card>
          
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
    


</div>
    