
  .card img {
    width: 100%;
    height: auto;
  }
  .wrapper{
      overflow: hidden;
  }
  .recent h4
  {
    text-align: center;
    
  }

  .imageHolder {
    position: relative;
}

.imageHolder .caption {
  position: absolute;
 
  bottom: 18px;
  left: -23px;
  color: #ffffff;
  background: rgba(0,0,0,.5);
text-align:center;
font-weight:bold;
opacity:0.7;
}
.category{
  font-weight: bolder;
  font-size: 14px;
}
.address{
  font-weight: inherit;
  font-size: 10px;
  float: left;
  width: 100%;
  padding-left: 20px;

}
.timeAgo{
  font-size: 15px;
}
.price {
  font-size: 15px;
}
.price p{
  color: red;
}
.infor{
  display: inline-block;
}
.logo{
  float: left;
  width: 100px;
  padding-left: -10px;
}
.recent {
  background: #f5f5f5;
}
.recent-title {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin: 68px auto 40px;
    text-align: center;
    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
    
}
.hr-title {
  border-top: 2px solid #E0E0E0; 
  height:0px; 
  align-self: center;
  border-radius: 2px;
  border-bottom: 2px solid #E0E0E0; 
  
  
}
.address-des{
  font-size: 16px;
}
.expired{
  background-color: #F44336;
  color: white;
  font-size: 25px;
  font-weight: bolder;
}