agm-map {
  height: 300px;
  width: 100%;
}
input{
width: 100%;
}
mat-form-field {
width: 100%;
}
.example-section {
  display: inline;
  align-content: center;
  align-items: center;
}
.example-margin {
  margin: 0 10px;
}